@import url("autohide_toolbox.css");

/* no close, minimize and maximize buttons */
.tab-close-button,
#TabsToolbar .toolbarbutton-1,
.titlebar-buttonbox-container{
    display: none !important;
}

/* no sidebar, back, or forward button */
#sidebar-button, #back-button, #forward-button {
    display: none !important;
}

/* no before urlbar spacer */
.titlebar-spacer {
    display: none !important;
}
