[Unit]
Description=i3bar-river + i3status-rust
PartOf=graphical-session.target
After=graphical-session.target
Requisite=graphical-session.target

[Service]
ExecStart=/usr/bin/i3bar-river
Restart=on-failure

[Install]
WantedBy=graphical-session.target
