/* colors defined at top for easy configuring */
@define-color background #2d353b;
@define-color second-background #343f44;
@define-color text #d3c6aa;
@define-color borders #7a8478;
@define-color focused #a7c080;
@define-color focused2 #dbbc7f;
@define-color color1 #7fbbb3;
@define-color color2 #d699b6;
@define-color color3 #83c092;
@define-color urgent #e67e80;


/* font declared */
* {
    font-family: "Iosevka";
    font-size: 15px;
}

#custom-openbracket,
#custom-closebracket {
    margin: 0 5px;
}

/* idk what all this does */
window#waybar {
    background-color: transparent;
    border-bottom: 0;
    color: @text;
    transition: background-color 0.5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

window#waybar.empty #window {
    background-color: transparent;
}


/* configuring the modules */
.modules-left {
    margin: 10px 0 0 10px;
    padding: 0 0 0 7px;
    background-color: @background;
    border: 2px solid @focused;
}

.modules-center {
    margin: 10px 0 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 2px solid @focused;
}

.modules-right {
    margin: 10px 10px 0 0;
    padding: 0 10px 0 10px;
    background-color: @background;
    border: 2px solid @focused;
}


/* whats this?? */
button {
    border: none;
}


/* left island */

/* menu pannel */
#custom-arch,
#custom-powerprofile,
#custom-powermenu,
#custom-themeswitcher {
    padding-right: 10px;
    padding-left: 5px;
    font-size: 15px;
    border-radius: 8px;
}

#custom-arch:hover,
#custom-powermenu:hover,
#custom-powerprofile:hover,
#custom-themeswitcher:hover {
    color: @color1;
}

/* workspace pannel */
#workspaces button {
    all: unset;
    min-width: 0;
    padding: 0 8px 0 8px;
    background-color: transparent;
    color: @text;
    border-radius: 0;
    transition: none;
}

#workspaces button:hover {
    color: @color1;
    background-color: @second-background;
    box-shadow: inherit;
}

#workspaces button.active {
    color: @focused2;
    background-color: @second-background;
}

#workspaces button.urgent {
    background-color: @urgent;
}

/* no idea what this does */
.modules-left>widget:first-child>#workspaces {
    margin-left: 0;
}

.modules-right>widget:last-child>#workspaces {
    margin-right: 0;
}

/* media player */
#mpris {
    margin: 0 0 0 5px;
    padding: 0 9px;
    background-color: @background;
    color: @text;
}

#mpris.playing {
    background-color: @color3;
    border-radius: 2px;
    color: @background;
}


/* center module  */
#window {
    padding: 0 5px;
}

/* Right Island */

/* module general styles */
#clock,
#battery,
#cpu,
#memory,
#custom-clipboard,
#custom-bluetooth,
#network {
    padding: 0 10px;
}

#clock:hover,
#battery:hover,
#custom-cpu:hover,
#custom-clipboard:hover,
#custom-bluetooth:hover,
#network:hover,
#idle_inhibitor:hover,
#custom-swaync:hover,
#backlight:hover,
#wireplumber:hover,
#memory:hover,
#cpu:hover {
    color: @color1;
}

#idle_inhibitor {
    padding: 0 10px 0 0;
}

#custom-powermenu {
    padding: 0 5px 0 10px;
}

#custom-powerprofile {
    padding: 0 8px 0 4px;
}

/* Remaining Modules */
#backlight,
#wireplumber {
    padding: 0 5px;
}

#wireplumber.muted {
    background-color: @color2;
}

#custom-swaync {
    padding: 0 10px 0 5px;
    font-size: 16px;
    /* same scale as other icons */
    color: @text;
}

#battery.charging,
#battery.plugged {
    background-color: @focused2 ;
    color: @background;
}

#battery.critical:not(.charging) {
    background-color: @urgent;
    color: @text;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: @second-background;
        color: @text;
    }
}
