/* colors defined at top for easy configuring */
@define-color background #2d353b;
@define-color second-background #343f44;
@define-color text #d3c6aa;
@define-color borders #7a8478;
@define-color focused #a7c080;
@define-color focused2 #dbbc7f;
@define-color color1 #7fbbb3;
@define-color color2 #d699b6;
@define-color color3 #83c092;
@define-color urgent #e67e80;


/* font declared */
* {
    font-family: "Iosevka";
    font-size: 15px;
}


/* colors and right border */
window#waybar {
    background: @background;
    color: @text;
    border-right-width: 2px;
    border-style: solid;
    border-color: @focused;
}


/* tooltip */
/* scrap with system gtk styles */
tooltip {
    all: unset;
    background-color: rgba(0, 0, 0, 0);
}

tooltip * {
    color: @text;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0);
    border-color: rgba(0, 0, 0, 0);
    border-width: 0;
}

tooltip label {
    padding: 8px;
    background-color: @second-background;
}


/* space from top and bottom edge */
.modules-left {
    margin-top: 4px;
}

.modules-right {
    margin-bottom: 4px;
}

/* inset background color */
.modules-left,
.modules-center,
.modules-right {
    padding-left: 4px;
    /* add border size to balance */
    padding-right: 6px;
}


/* space out different sections */
#custom-launcher,
#clock,
#tray {
    margin-bottom: 8px;
}

#custom-powermenu {
    margin-top: 8px;
}


/* module background color and size */
label.module,
box.module {
    padding: 10px 0px;
    background-color: @second-background;
}


/* focus color hover */
label.module:hover {
    color: @focused;
}


/* center icons/content */
/* this also bumps the minumum width */
#workspaces,
#custom-launcher,
#network,
#custom-powermenu,
#custom-clipboard {
    padding-left: 2px;
}

#cpu {
    padding-left: 1px;
}


/* workspaces */
#workspaces {
    padding: 8px 0px;
}

#workspaces button {
    all: unset;
    min-width: 0;
    padding: 4px 0;
    background-color: transparent;
    color: @text;
    border: none;
    transition: none;
}

#workspaces button:hover {
    color: @focused;
}

#workspaces button.urgent {
    color: @urgent;
}


/* mpris */
#mpris.playing {
    background-color:
        @focused;
    color: @background;
}


/* wireplumber */
#wireplumber.muted {
    background-color: @color2;
}


/* battery */
#battery.charging,
#battery.plugged {
    background-color: @focused2 ;
    color: @background;
}

#battery.critical:not(.charging) {
    background-color: @urgent;
    color: @text;
    animation: blink 0.5s steps(12) infinite alternate;
}

@keyframes blink {
    to {
        background-color: @second-background;
        color: @text;
    }
}
