spawn-at-startup "waybar"
spawn-at-startup "mpd"
spawn-at-startup "mpDris2"
spawn-at-startup "pipewire"
spawn-at-startup "gammastep"
spawn-sh-at-startup "swaybg -m fill -i ~/dotfiles/wallpapers/wallpaper.jpg"
spawn-sh-at-startup "wl-paste --watch cliphist store"
spawn-sh-at-startup "dbus-update-activation-environment DISPLAY"
spawn-at-startup "~/.local/bin/niri-sidebar" "listen"
