(
    selected_tab: Some(Green),
    command_fg: Some(DarkGray),
    selection_bg: Some(Green),
    selection_fg: Some(DarkGray),
    cmdbar_bg: Some(Green),
    cmdbar_extra_lines_bg: Some(Green),
    disabled_fg: Some(Rgb(122, 132, 120)),
    diff_line_add: None,
    diff_line_delete: None,
    diff_file_added: None,
    diff_file_removed: None,
    diff_file_moved: None,
    diff_file_modified: None,
    commit_hash: None,
    commit_time: None,
    commit_author: None,
    danger_fg: None,
    push_gauge_bg: Some(Green),
    push_gauge_fg: Some(DarkGray),
    tag_fg: None,
    branch_fg: None,
)