(
    selected_tab: Green,
    command_fg: DarkGray,
    selection_bg: Green,
    selection_fg: DarkGray,
    cmdbar_bg: Green,
    cmdbar_extra_lines_bg: Green,
    disabled_fg: Rgb(122, 132, 120),
    diff_line_add: Green,
    diff_line_delete: Red,
    diff_file_added: LightGreen,
    diff_file_removed: LightRed,
    diff_file_moved: LightMagenta,
    diff_file_modified: Yellow,
    commit_hash: Magenta,
    commit_time: LightCyan,
    commit_author: Green,
    danger_fg: Red,
    push_gauge_bg: Green,
    push_gauge_fg: DarkGray,
    tag_fg: LightMagenta,
    branch_fg: LightYellow,
)
