#![enable(implicit_some)]
#![enable(unwrap_newtypes)]
#![enable(unwrap_variant_newtypes)]
(
    default_album_art_path: None,
    browser_column_widths: [20, 38, 42],
    header_background_color: "#343f44",
    preview_label_style: (fg: "magenta"),
    preview_metadata_group_style: (fg: "cyan"),
    draw_borders: false,
    show_song_table_header: false,
    tab_bar: (active_style: (fg: "black", bg: None, modifiers: "Bold"), inactive_style: ()),
    layout: Split(
        direction: Vertical,
        panes: [
            (
                pane: Pane(Header),
                size: "1",
            ),
            (
                pane: Pane(TabContent),
                size: "100%",),
            (
                pane: Pane(ProgressBar),
                size: "1",
            ),
        ],
    ),
    highlighted_item_style: (fg: "yellow", modifiers: "Bold"),
    current_item_style: (fg: "black", bg: "green", modifiers: "Bold"),
    borders_style: (fg: "green", modifiers: "Bold"),
    highlight_border_style: (fg: "green"),
    symbols: (song: "󰝚 ", dir: " ", playlist: "󰲸 ", marker: "* ", ellipsis: "..."),
    progress_bar: (
        symbols: ["█", "█", "█", "█", "█"],
        track_style: (fg: "#343f44"),
        elapsed_style: (fg: "green"),
        thumb_style: (fg: "green"),
    ),
    scrollbar: (
        symbols: ["│", "█", "▲", "▼"],
        track_style: (fg: "green"),
        ends_style: (fg: "green"),
        thumb_style: (fg: "green"),
    ),
    song_table_format: [
        (
            prop: (kind: Property(Artist), style: (fg: "green"), default: (kind: Text("Unknown"))),
            width: "35%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("["), style: (fg: None), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Album), style: (fg: "cyan"), default: (kind: Text("Unknown"))),
            width: "30%",
            alignment: Right,
        ),
        (
            prop: (kind: Text("]"), style: (fg: None), default: (kind: Text("Unknown"))),
            width: "1",
            alignment: Center,
        ),
        (
            prop: (kind: Property(Title), style: (fg: "blue"), default: (kind: Text("Unknown"))),
            width: "35%",
        ),
    ],
    header: (
        rows: [
            (
                left: [
                    (kind: Text("["), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Property(Status(State)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Text(" ")),
                    (kind: Text("["), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Property(Status(Elapsed)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text(" / "), style: (fg: "green", modifiers: "Bold")),
                    (kind: Property(Status(Duration)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("]"), style: (fg: "blue", modifiers: "Bold"))
                ],
                center: [
                    (kind: Property(Song(Artist)), style: (fg: "yellow", modifiers: "Bold"),
                        default: (kind: Text("Unknown"), style: (fg: "yellow", modifiers: "Bold"))
                    ),
                    (kind: Text(" - ")),
                    (kind: Property(Song(Title)), style: (fg: "blue", modifiers: "Bold"),
                        default: (kind: Text("No Song"), style: (fg: "blue", modifiers: "Bold"))
                    )
                ],
                right: [
                    (kind: Text("["), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Property(Status(RepeatV2(
                        on_label: "z",
                        off_label: "z",
                        on_style: (fg: "green", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(RandomV2(
                        on_label: "x",
                        off_label: "x",
                        on_style: (fg: "green", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(ConsumeV2(
                        on_label: "c",
                        off_label: "c",
                        oneshot_label: "c",
                        on_style: (fg: "green", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                        oneshot_style: (fg: "red", modifiers: "Dim"),
                    )))),
                    (kind: Property(Status(SingleV2(
                        on_label: "v",
                        off_label: "v",
                        oneshot_label: "v",
                        on_style: (fg: "green", modifiers: "Bold"),
                        off_style: (fg: "blue", modifiers: "Dim"),
                        oneshot_style: (fg: "red", modifiers: "Bold"),
                    )))),
                    (kind: Text("]"), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Text(" ")),
                    (kind: Text("["), style: (fg: "blue", modifiers: "Bold")),
                    (kind: Text("Vol: "), style: (fg: "green", modifiers: "Bold")),
                    (kind: Property(Status(Volume)), style: (fg: "green", modifiers: "Bold")),
                    (kind: Text("%]"), style: (fg: "blue", modifiers: "Bold"))
                ]
            )
        ],
    ),
)
